@model RegisterViewModel

<form asp-controller="Auth" asp-action="Register" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div>
        <label>username</label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label>password</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>

    </div>
    <div>
        <label>confirm</label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        register
        <button type="submit">Sign Up</button>
    </div>
</form>